<!DOCTYPE html>
<html>
<head>
	<title>Active Deep Learning</title>
	<link rel="stylesheet" type="text/css" href="../static/index.css">
	<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
	<script type="text/javascript" src="../static/index.js"></script>
</head>
<body>


<p class="text-center">Insulator Detection</p>
<img src="tuc.jpeg" alt="TUC logo" width="444" height="222"/>
<h1 class="text-center">
    Here you can choose whether to perform Video or Image Detection
</h1>



<div class="buttons">

            <div class="action_btn">

            <button name="submit" class="action_btn image" type="submit" value="Image page" onclick="window.location='/image';">Image Detection</button>
            <button name="submit" class="action_btn video" type="submit" value="Video page" onclick="window.location='/video';">Video Detection</button>

            <p id="saved"></p>

            </div>

        </div>



</body>
</html>
